venv/
example/
__pycache__/
.idea/
.DS_Store
dataloader/config.py
*.ipynb_checkpoints/
tests/resources/huge_dataset/
tests/resources/logs.txt
tests/tmp.py
.pytest_cache
project/clickhouse_storage/
*.log
project/build/
project/*.egg-info/
project/dist/
dist/
tests/resources/may1/
venv2/
build/
backtesting_hft.egg-info/
notebooks/*sampled*
notebooks/.ipynb_checkpoints
*.pth